<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7h3 5h0p</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel='stylesheet'>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/scripts.js" defer></script>
</head>
<body>

<header class="header">
    <div class="header__container">
        <div class="logo-shop">
            <a class="logo-shop__link" href="#">
                <svg class="logo-shop__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145.2 32.2">
                    <polygon points="0 6 11 6 1.9 24.8 6.7 24.8 16 5.6 16 1.9 0 1.9 0 6"></polygon>
                    <path d="M33.9,8.3A4.6,4.6,0,0,0,32.2,7a5.9,5.9,0,0,0-2.4-.4l-1.7.2-1.4.5-1.2.9L24.5,9.4l.2-3.2V0H20.4V24.8h4.3V13.5a15.2,15.2,0,0,1,2.1-2.4,3.1,3.1,0,0,1,2.1-.9q2.2,0,2.2,2.9V24.8h4.3v-12a9,9,0,0,0-.3-2.6A5.4,5.4,0,0,0,33.9,8.3Z"></path>
                    <path d="M54.3,14.3a5.2,5.2,0,0,0-1.5-1.1,7.2,7.2,0,0,0-2-.6,6,6,0,0,0,2.7-2,5.5,5.5,0,0,0,1-3.4,5.7,5.7,0,0,0-.5-2.4A4.8,4.8,0,0,0,52.5,3a7.1,7.1,0,0,0-2.4-1.2,12.3,12.3,0,0,0-3.3-.4H45.2l-1.5.2L42.3,2l-1.5.4V6l2.8-.7,2.7-.3a4.5,4.5,0,0,1,2.8.7A2.6,2.6,0,0,1,50,7.9a3.8,3.8,0,0,1-.2,1.3,2.6,2.6,0,0,1-.8,1.1,4,4,0,0,1-1.4.7,8,8,0,0,1-2.3.3H42.9v3.3h2.5l2.5.2a5.6,5.6,0,0,1,1.7.7,2.7,2.7,0,0,1,1.4,2.4,3.6,3.6,0,0,1-.3,1.5,2.9,2.9,0,0,1-1,1.2,5.2,5.2,0,0,1-1.7.7l-2.5.2H42.7l-2.5-.3v3.7h4.9a19,19,0,0,0,4.7-.5,9.6,9.6,0,0,0,3.3-1.5A6,6,0,0,0,55,20.9a7.2,7.2,0,0,0,.6-3.1,5.3,5.3,0,0,0-.3-2A4.7,4.7,0,0,0,54.3,14.3Z"></path>
                    <path d="M82.3,12a8.1,8.1,0,0,0-2.8-1.1,17.3,17.3,0,0,0-3.4-.3H74.5V5.9h9.2v-4H70.5V14.1H75a7.4,7.4,0,0,1,4.1.9,3.2,3.2,0,0,1,1.3,2.8A3.3,3.3,0,0,1,79,20.6a6.7,6.7,0,0,1-4,1H72.4L70.1,21v3.7l1.1.2h3.6a15.3,15.3,0,0,0,4-.5,10,10,0,0,0,3.2-1.5,7.1,7.1,0,0,0,2.1-2.4,6.8,6.8,0,0,0,.8-3.3,7,7,0,0,0-.7-3.4A5.7,5.7,0,0,0,82.3,12Z"></path>
                    <path d="M103.1,8.3A4.6,4.6,0,0,0,101.4,7,5.9,5.9,0,0,0,99,6.6l-1.7.2-1.4.5-1.2.9L93.6,9.4l.2-3.2V0H89.5V24.8h4.3V13.5a15.2,15.2,0,0,1,2.1-2.4,3.1,3.1,0,0,1,2.1-.9q2.2,0,2.2,2.9V24.8h4.3v-12a9,9,0,0,0-.3-2.6A5.4,5.4,0,0,0,103.1,8.3Z"></path>
                    <path d="M123.3,4.2a6.9,6.9,0,0,0-2.7-2.1,9,9,0,0,0-3.5-.7,9.1,9.1,0,0,0-3.9.8,7.8,7.8,0,0,0-2.9,2.3,11,11,0,0,0-1.8,3.8,18.8,18.8,0,0,0-.6,5.1,19.3,19.3,0,0,0,.7,5.3,10.4,10.4,0,0,0,1.8,3.7,7,7,0,0,0,2.8,2.1,9.7,9.7,0,0,0,7.4-.1,7.9,7.9,0,0,0,2.9-2.3,10.8,10.8,0,0,0,1.8-3.8,19.1,19.1,0,0,0,.6-5.1,19.3,19.3,0,0,0-.7-5.4A10.4,10.4,0,0,0,123.3,4.2ZM112.2,14v-.7a16.7,16.7,0,0,1,.4-3.7,8.9,8.9,0,0,1,1-2.6A4.3,4.3,0,0,1,115,5.5a3.5,3.5,0,0,1,1.8-.5,3.6,3.6,0,0,1,2.4.8,5.7,5.7,0,0,1,1.6,2.6l-8.6,6.2A5.6,5.6,0,0,1,112.2,14Zm8.9,3.1a8.7,8.7,0,0,1-1,2.6,4.4,4.4,0,0,1-1.5,1.5,3.5,3.5,0,0,1-1.8.5,3.7,3.7,0,0,1-2.4-.8,5.3,5.3,0,0,1-1.6-2.5l8.6-6.2q0,.3,0,.6t0,.6A17.1,17.1,0,0,1,121.1,17.1Z"></path>
                    <path d="M144.8,11.9A8.6,8.6,0,0,0,143.5,9a5.7,5.7,0,0,0-2.1-1.8,6.1,6.1,0,0,0-2.8-.6l-1.8.2-1.5.6-1.3,1-1.1,1.2V7h-3.7V31.8h4.3v-7l1.2.2H136a11.4,11.4,0,0,0,3.7-.6,7.8,7.8,0,0,0,2.9-1.8,8.1,8.1,0,0,0,1.9-3,11.8,11.8,0,0,0,.7-4.3A14.6,14.6,0,0,0,144.8,11.9Zm-4.4,6.4a5.6,5.6,0,0,1-.9,1.9,4.1,4.1,0,0,1-1.4,1.2,4.1,4.1,0,0,1-1.9.4h-1.5l-1.3-.3V13.5a15.2,15.2,0,0,1,2.1-2.4,3.1,3.1,0,0,1,2.1-.9,2.7,2.7,0,0,1,1.3.3,2.5,2.5,0,0,1,1,1,5.5,5.5,0,0,1,.6,1.7,12.8,12.8,0,0,1,.2,2.5A9.2,9.2,0,0,1,140.4,18.3Z"></path>
                </svg>
            </a>
        </div>
        <div class="logo-oggetto">
            <a class="logo-oggetto__link" href="//oggettoweb.com">
                <svg class="logo-oggetto__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 147.3 147.3">
                    <path d="M73.6,0a73.6,73.6,0,1,0,73.6,73.6A73.6,73.6,0,0,0,73.6,0ZM98,116.8c-19.4,14.8-46.7,10.1-61.9-10.5-12-16.2-13-37-2.6-54.6,15.3-26,49.1-36.9,76.8-24.9l2.5,1.3-23-.8V28l6.1,1v1.1c-2.2.3-4.5,1-6.7.8C69.6,29.2,44.4,44.6,38,65.1c-7,22.4,7.5,46.8,30.3,50.3,16,2.4,32.2-9.2,34-25.1,1-9-3.2-16-10.5-21s-12.9-4.2-19.4-.5S63.9,77.3,65,84a11.9,11.9,0,0,0,.8-2c1.3-6.8,5-10.9,10.9-11.9a15,15,0,0,1,16,7.3c6,10.1-.4,23.3-12.7,25.7-9.2,1.8-16.4-1.8-21.8-9.1s-5.3-17.4-.8-24.6c11.7-18.8,38-18.2,50.4,1.2C117.4,85.6,113.2,105.2,98,116.8Z"></path>
                    <path d="M78.8,96.1A12.6,12.6,0,0,0,78.5,71c-7.9.3-12.2,6.1-12.6,12.6S72,96.2,78.8,96.1Zm.4-17.6a5.1,5.1,0,0,1,4.9,5.4,5,5,0,1,1-4.9-5.4Z"></path>
                </svg>
            </a>
        </div>
        <span class="phone">+7 (812) 2•12•85•06</span>
    </div>
</header>

<div class="menu">
    <div class="menu__container">
        <nav class="nav">
            <ul class="nav_list">
                <% const menuArr = ['LISP', 'OCaml', 'JavaScript', 'Python', 'PHP']; %>
                <% const current = 0; %>
                <% menuArr.forEach((item, index) => { %>
                <li class="nav__item">
                    <% if (current == index) { %>
                    <a class="nav__link nav__link_current"><%= item %></a>
                    <% } else { %>
                    <a class="nav__link" href="#"><%= item %></a>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </nav>

        <form class="search-form" method="get">
            <input class="search-form__input" name="search" title="" maxlength="50">
            <button class="search-form__button" type="submit" title="Найти">
                <svg class="search-form__img" version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.4271164,21.4271164 C18.0372495,22.4174803 16.3366522,23 14.5,23 C9.80557939,23 6,19.1944206 6,14.5 C6,9.80557939 9.80557939,6 14.5,6 C19.1944206,6 23,9.80557939 23,14.5 C23,16.3366522 22.4174803,18.0372495 21.4271164,19.4271164 L27.0119176,25.0119176 C27.5621186,25.5621186 27.5575313,26.4424687 27.0117185,26.9882815 L26.9882815,27.0117185 C26.4438648,27.5561352 25.5576204,27.5576204 25.0119176,27.0119176 L19.4271164,21.4271164 L19.4271164,21.4271164 Z M14.5,21 C18.0898511,21 21,18.0898511 21,14.5 C21,10.9101489 18.0898511,8 14.5,8 C10.9101489,8 8,10.9101489 8,14.5 C8,18.0898511 10.9101489,21 14.5,21 L14.5,21 Z"></path>
                </svg>
            </button>
        </form>
    </div>
</div>

<main class="main">
    <div class="main__container">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <% const breadcrumbs = ['LISP', 'Одежда', 'Футболки'] %>
                <% breadcrumbs.forEach(function(crumb, index) { %>
                <li class="breadcrumbs__item">
                    <% if(index == breadcrumbs.length - 1) { %>
                    <a class="breadcrumbs__link breadcrumbs__link_current"><%= crumb; %></a>
                    <% } else { %>
                    <a href="#" class="breadcrumbs__link"><%= crumb; %></a>
                    <% } %>
                    <% if(index < (breadcrumbs.length - 1)) { %>
                    <span class="breadcrumb__separator">/</span>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </div>

        <div class="product">
            <div class="preview">
                <img id="previewImg" class="preview__img" src="img/tshirt_white.jpg" alt="Футболка">
            </div>
            <div class="info">
                <h1 class="info__name">Футболка Alien technology</h1>
                <div class="info__description">
                    <p>Состав: 100% хлопок, динамическая типизация, польстая нотация. Производство: Россия.</p>
                </div>
                <div class="info__price">
                    <span>1500 &#8381;</span>
                </div>

                <form id="productForm" class="product-form" method="get">
                    <div class="product-form__group-title">
                        <p>Размер: <strong id="sizeName"></strong></p>
                    </div>
                    <div class="product-form__group" id="changeSize">
                        <% const size = ['S', 'M', 'L']; %>
                        <% size.forEach( el => { %>
                        <input type="radio" id="rad-<%= el %>" name="size"
                               data-action="<%= el %>" value="<%= el %>" >
                        <label id="lab-<%= el %>" for="rad-<%= el %>" class="product-form__btn" >
                            <span><%= el %></span>
                        </label>
                        <% }); %>
                    </div>

                    <div class="product-form__group-title">
                        <p>Цвет: <strong id="colorName"></strong></p>
                    </div>
                    <div class="product-form__group" id="changeColor">
                        <% const color = [
                            {name: 'white', value: '#fff'},
                            {name: 'yellow', value: '#e3d954'},
                            {name: 'green', value: '#a5ae96'}
                        ]; %>
                        <% color.forEach( el => { %>
                        <input type="radio" id="rad-<%= el.name %>" name="color"
                               data-action="<%= el.name %>" value="<%= el.name %>" >
                        <label id="lab-<%= el.name %>" for="rad-<%= el.name %>" class="product-form__btn"
                        style="background-color: <%= el.value %>"> </label>
                        <% }); %>
                    </div>
                    <div id="orderBtn">
                        <button type="submit" class="product-form__order-btn">Купить</button>
                    </div>
                </form>

                <a class="favorite-btn">
                    <svg class="favorite-btn__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.8 29.8">
                        <path d="M20.8,1.6a7.1,7.1,0,0,0-5.8,3,7.1,7.1,0,0,0-5.8-3A7.4,7.4,0,0,0,1.8,9C1.8,14.8,15,25.4,15,25.4S28.2,14.8,28.2,9A7.4,7.4,0,0,0,20.8,1.6Zm0,2.6A4.7,4.7,0,0,1,25.5,9c0,2.6-5.2,8.5-10.6,12.9C9.6,17.3,4.4,11.5,4.4,9A4.7,4.7,0,0,1,9.2,4.2c3.2,0,5.8,4,5.8,4s2.5-4,5.8-4"></path>
                    </svg>
                    <span class="favorite-btn__text">Отложить на потом</span>
                </a>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="footer__container">
        <div class="support">
            <span class="footer__title">Сервис и поддержка</span>
            <div class="support__parts">
                <% const support = ['Как сделать заказ', 'Возврат товара', 'Публичная офёрта', 'Доставка', 'Способы оплаты',
                    'Правила продажи', 'Возврат денежных средств', 'Вопросы и ответы']; %>

                <div class="support__part1">
                    <ul class="footer__list">
                        <% for (let i = 0; i < 4; i++) { %>
                        <li class="footer__item">
                            <a class="footer__link" href="#"><%= support[i] %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>

                <div class="support__part2">
                    <ul class="footer__list">
                        <% for (let i = 4; i < support.length; i++) { %>
                        <li class="footer__item">
                            <a class="footer__link" href="#"><%= support[i] %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="about">
            <span class="footer__title">О компании</span>
            <div class="about__parts">
                <% const about = ['О нас', 'Контакты', 'Партнёрам', 'Вакансии', 'Сертификаты', 'Преимущества', 'Наши скидки']; %>

                <div class="about__part1">
                    <ul class="footer__list">
                        <% for (let i = 0; i < 4; i++) { %>
                        <li class="footer__item">
                            <a class="footer__link" href="#"><%= about[i] %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>

                <div class="about__part2">
                    <ul class="footer__list">
                        <% for (let i = 4; i < about.length; i++) { %>
                        <li class="footer__item">
                            <a class="footer__link" href="#"><%= about[i] %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="services">
            <ul class="services__list">
                <li class="services__item">
                    <a class="services__link" href="#">
                        <div class="services__container-img">
                            <svg class="services__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.9 22.4">
                                <path d="M45.8,1.6H18V24H48V1.6ZM20.2,21.8V3.8h9.4v18Zm25.6,0H31.9V3.8H45.8Z"
                                      transform="translate(-3.2 -1.6)"></path>
                                <rect width="12.6" height="2.24"></rect>
                                <rect x="2.2" y="4.5" width="10.3" height="2.24"></rect>
                                <rect x="4.5" y="9" width="8.1" height="2.24"></rect>
                            </svg>
                        </div>
                        бесплатная доставка от 4000 ₽
                    </a>
                </li>
                <li class="services__item">
                    <a class="services__link" href="#">
                        <div class="services__container-img">
                            <svg class="services__img" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 29.95 26.955" enable-background="new 0 0 29.95 26.955"
                                 xml:space="preserve">
                                            <path d="M20.788,1.587c-2.378,0-4.492,1.189-5.813,3.039c-1.321-1.85-3.435-3.039-5.813-3.039 c-4.096,0-7.398,3.303-7.398,7.398c0,5.813,13.211,16.382,13.211,16.382S28.187,14.799,28.187,8.986 C28.187,4.89,24.884,1.587,20.788,1.587z M20.788,4.23c2.642,0,4.756,2.114,4.756,4.756s-5.153,8.455-10.569,12.947 C9.559,17.309,4.406,11.496,4.406,8.986c0-2.642,2.114-4.756,4.756-4.756c3.171,0,5.813,3.963,5.813,3.963S17.485,4.23,20.788,4.23"></path>
                            </svg>
                        </div>
                        пробники в подарок при каждой покупке
                    </a>
                </li>
                <li class="services__item">
                    <a class="services__link" href="#">
                        <div class="services__container-img">
                            <svg class="services__img" viewBox="0 0 24 24">
                                <g>
                                    <path d="M19.29,3.82V0H5.87V3.84A4.55,4.55,0,0,0,6,12.75a4.44,4.44,0,0,0,.48,1.17,7.14,7.14,0,0,0,5.21,3.4V21H7.21v2h11V21h-4.5V17.29a7.18,7.18,0,0,0,4.95-3.37,4.82,4.82,0,0,0,.48-1.15,4.55,4.55,0,0,0,.15-8.95ZM5.87,10.63a2.55,2.55,0,0,1,0-4.69Zm11.42.95a2.61,2.61,0,0,1-.36,1.32,5.06,5.06,0,0,1-8.71,0,2.61,2.61,0,0,1-.35-1.32V2h9.42Zm2-.92V5.9a2.54,2.54,0,0,1,0,4.76Z"></path>
                                </g>
                            </svg>
                        </div>
                        акции и подарки за покупку
                    </a>
                </li>
            </ul>
        </div>

        <div class="social">
            <ul class="social__list">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.8 44">
                            <path d="M16.8,45.9v-20h6.7l1-7.8H16.8v-5c0-2.3.6-3.8,3.9-3.8h4.1v-7q-3-.3-6-.3C12.8,2,8.7,5.6,8.7,12.3v5.8H2v7.8H8.8V46h8Z"
                                  transform="translate(-2 -2)"></path>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.6 39.6">
                            <path d="M50.5,6.7a19,19,0,0,1-5,5.2v1.3a27.2,27.2,0,0,1-1.2,8,28.4,28.4,0,0,1-3.6,7.7A32.1,32.1,0,0,1,35,35.4a24.9,24.9,0,0,1-7.9,4.5,30.8,30.8,0,0,1-9.9,1.7A27.9,27.9,0,0,1,1.9,37.1H4.3a19.4,19.4,0,0,0,12.3-4.3,9.5,9.5,0,0,1-5.8-2A9.5,9.5,0,0,1,7.3,26l1.9.2a7.5,7.5,0,0,0,2.6-.4,10,10,0,0,1-8-9.8h0a10.2,10.2,0,0,0,4.5,1.3,8.6,8.6,0,0,1-3.2-3.6A11.3,11.3,0,0,1,4,8.9,10.3,10.3,0,0,1,5.4,3.8a28.3,28.3,0,0,0,9.1,7.4,28.1,28.1,0,0,0,11.4,3.1,9,9,0,0,1-.2-2.3A9.9,9.9,0,0,1,42.6,4.9l.3.3a20.1,20.1,0,0,0,6.3-2.4,9.6,9.6,0,0,1-4.4,5.5A18.6,18.6,0,0,0,50.5,6.7Z"
                                  transform="translate(-1.9 -2)"></path>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.6 45.4">
                            <path d="M15.2,22.7a7.6,7.6,0,1,1,7.6,7.6h0a7.6,7.6,0,0,1-7.6-7.6h0m-4.1,0A11.7,11.7,0,1,0,22.9,11h-.1A11.7,11.7,0,0,0,11.1,22.7M32.2,10.6A2.7,2.7,0,1,0,35,7.9h0a2.7,2.7,0,0,0-2.7,2.7M13.6,41.2a13,13,0,0,1-4.2-.8,7.4,7.4,0,0,1-2.6-1.7A7.1,7.1,0,0,1,5,36.1a12.5,12.5,0,0,1-.8-4.2c-.1-2.4-.1-3.1-.1-9.2s0-6.8.1-9.2A12.5,12.5,0,0,1,5,9.3,7.6,7.6,0,0,1,9.3,5a12.4,12.4,0,0,1,4.2-.8H32a12.4,12.4,0,0,1,4.2.8,7.6,7.6,0,0,1,4.3,4.3,12.5,12.5,0,0,1,.8,4.2c.1,2.4.1,3.1.1,9.2s0,6.8-.1,9.2a12.5,12.5,0,0,1-.8,4.2,7.1,7.1,0,0,1-1.7,2.6,7.4,7.4,0,0,1-2.6,1.7,12.9,12.9,0,0,1-4.2.8H13.6M13.4.1a16.6,16.6,0,0,0-5.5,1A11.6,11.6,0,0,0,1.2,7.8,16.6,16.6,0,0,0,.1,13.3C0,15.8,0,16.5,0,22.7S0,29.6.1,32a16.5,16.5,0,0,0,1.1,5.5,11,11,0,0,0,2.6,4,11.2,11.2,0,0,0,4,2.6,17.1,17.1,0,0,0,5.5,1.1H32.2a17.1,17.1,0,0,0,5.5-1.1,11.2,11.2,0,0,0,4-2.6,11.1,11.1,0,0,0,2.6-4A16.5,16.5,0,0,0,45.4,32c.1-2.4.1-3.2.1-9.4s0-6.9-.1-9.3a16.6,16.6,0,0,0-1.1-5.5,11.7,11.7,0,0,0-6.7-6.6,16.6,16.6,0,0,0-5.5-1H13.4"
                                  transform="translate(0)"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <hr class="footer__line">

        <div class="footer__about-site">
            2005-2017 © 7h35h0p.ru - модный интернет магазин одежды, обуви и аксессуаров.<br>
            Все права защищены. Доставка по всей России.
        </div>
    </div>
</footer>
</body>
</html>
